*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}
 @media screen and (max-width:576px) {
    .banner-info{
        width: 331px;
        height: 224px;
        text-align: center;
    }   
    .banner{
        display: block;
        justify-content: center;
        flex-direction: column;
       
    }
    .blog-section-left{
        display: block;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .blog-section-right{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
    .main-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .blog-content{
        width: 235px;
        height: 288px;
    }
    

 }
.main{
    background-color: #FFFFFF;
    width: 100%;
}
.main-banner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
    margin-top: 50px;
}
.banner{
    background-color: #161616;
    width: 100%;
    margin-top: 180px;
    margin-bottom: 150px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 60px 50px 0px 50px;
    justify-content: space-around;
    
    margin: 0 auto;
}
.banner-info{
    width: 531px;
    height: 424px;
}
.banner-info>h1,p{
    color: aliceblue;
}
.banner-info h1{
    font-size: 70px;
    line-height: 90px;
}
.banner-info a{
    background-color: #DD0000;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.banner-info p{
    margin-bottom: 30px;
    margin-top: 10px;
}
.banner-img{
    width: 581px;
    height: 613px;
}
.banner-img img{
    width: 100%;
}
.main-section{
    margin-bottom: 150px;
}

.upcoming{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
}
.upcoming a{
    text-decoration: none;
    background-color: #FFFFFF;
    width: 252px;
    height: 40px;
    text-align: center;
    margin-top: 30px;
    color: black;
    border-radius: 5px;
    font-weight: 700;
    display: inline-block;
    padding-top: 20px;
    letter-spacing: 0.5px; 
}
.upcoming a:hover{
    background-color: #DD0000;
    color: #FFFFFF;
}
.main-section{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
}
.blog-section-right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.blog-content{
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    display: block;
    justify-content: space-around;
}
.blog-content-img img{
    width: 100%;
}
.blog-content-info,.duration{
    margin-top: 20px;
}
.blog-content-info{
    padding: 0px 20px;
}
.blog-content-info>h4{
    margin-top: 20px;
} 
.transfer-btn{
   border: 1px solid #161616;
   padding: 5px 15px;
   text-decoration: none;
   border-radius: 5px;
   color: #161616;
}

.duration a{
    color: #161616;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}
.main-footer{
    text-align: center;
    width: 100%;
    height: 444px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.main-footer h1{
    color: #FFFFFF;
}
.footer-item a{
    text-decoration: none;
    color: #B9B9B9;
    margin-right: 25px;
}
.upcoming-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 312px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 0px 20px;
}
.upcoming-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.upcoming-content-info{
    text-align: center;
    padding: 0px 15px;
}
.upcoming-content-info p{
    color: #161616;
}
